.text-zone{
    // width: 1000px;
    margin: 250px 0 0 250px;
    letter-spacing: 3.5px;
    h2{
        color: #8d8d8d;
        margin-top: 20px ;
        font-weight:400;
        font-size:11px;
        font-family: sans-serif;
        letter-spacing: 2px;
        animation: fadeIn 1s 1.3s backwards;
    }
}
.title-img {
    width: auto ;
    height: 120px; 
    z-index: 2;
    margin-right:-15px;
    margin-bottom: -9px;
    opacity: 0;
    animation: rotateIn 1s linear both;
    animation-delay: 0.5s;
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 300px;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: rotate(45deg);
        cursor: pointer;
    }
}

.title-img:hover {
    // animation: fadeIn 1s 1.7s backwards;
    
    transform: rotate(20deg);
    
}

.name{
    margin-left: -24px;
}
h1{
    color: #edeaea;
    font-size: 83px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before{
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: #05c977;
        opacity:0.6;
        font-size:18px;
        position: absolute;
        margin-top: -45px;
        margin-left: 15px;
    }

    &::after{
        content:'</h1>';
        font-family: 'La Belle Aurore';
        color: #05c977;
        font-size: 18px;
        position: absolute;
        margin-top:18px;
        margin-left: 40px;
        opacity:0.6;
        animation: fadeIn 1s 1.7s forwards;
    }

}
h2{
    color: #4d4d4e;
    margin-top: 20px;
    font-weight:400px;
    font-size: 11px;
    letter-spacing: 3px;
    animation: fadeIn 1s 0.5s backwards;
    // margin-left: 15px;
}
.redirect-contact{
    color: #05c977;
    font-size: 13px;
    font-weight: 400px;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #05c977a7;
    margin-top: 25px;
    float:left;
    animation: fadeIn 1s 1.8s backwards;
    white-spacing : nowrap;
    border-radius: 5px;
    z-index: 2;
    
    &:hover{
        background: #05c977;
        color: #333;
        // cursor: pointer;
    }

}

.home{
    display: flex;
    // border: 1px solid ;
    margin-top: 100px;
}
.Me{
    // margin-top: 200px;
    // margin-left: 100px;
    width: 800px;
    height: 550px;
    background-size: cover; /* Ensure the image covers the entire container */
    // clip-path: polygon(0 0, 70% 0, 87% 100%, 10% 100%);
    margin: 100px 0 0 250px;
    padding-bottom: 20px;
    z-index: -1;
    border-radius: 50%;
    }