body{
    cursor: none;
}
.cursor-dot{
    height: 5px;
    width: 5px;
    background-color: #05c977;

    
}

.cursor-outline{
    width: 10px;
    height: 10px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
    
}

.cursor-dot,
.cursor-outline{
    position:fixed;
    top:0;
    left: 0;
    transform:translate(-50%, -50%);
    border-radius: 20%;
    z-index: -1;
    &:hover{
        z-index: 1;
    }
    
}

